<tr>
  <td><%= statistic.created_at.strftime("%d-%m") %></td>
  <td><%= statistic.user_count %></td>
  <td><%= statistic.unsubscribe_user %></td>
  <td><%= statistic.unsubscribe_person %></td>
  <td><%= statistic.commment_count %></td>
  <td><%= statistic.like_count %></td>
  <td><%= statistic.notification_count %></td>
  <td><%= statistic.relationship_count %></td>
</tr>
