<div class="row">
  <div class="col-sm-12 col-md-7 offset-md-3">
    <h1><%= @section.name %></h1>
    <hr>
    <p id="notice"><%= notice %></p>
    <% @section.posts.each do |post| %>
      <p><%= post.content %></p>
      <p><%= post.git_link %></p>
    <% end %>
    <hr>
    <%= link_to 'Edit', edit_section_path(@section) %> |
    <%= link_to 'Back', sections_path %>
  </div>
</div>
