<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>User</th>
        <th>#</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Neutral</td>
        <td><%= @neutral %></td>
      </tr>
      <tr>
        <td>Facebook</td>
        <td><%= @facebook %></td>
      </tr>
      <tr>
        <td>Country</td>
        <td><%= @country %></td>
      </tr>
      <tr>
        <td>User unsub</td>
        <td><%= @unsubscribed %></td>
      </tr>
      <tr>
        <td>Person unsub</td>
        <td><%= @person %></td>
      </tr>
    </tbody>
  </table>
</div>
