<div class="col-xs-12 col-md-3">
  <aside>
    <section>
      <p>
        <strong>Name:</strong>
        <%= @user.name %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= @user.email %>
      </p>

      <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-primary" %>
      <%= link_to 'Back', users_path, class: "btn btn-primary" %>
      <hr>
      <h2>Posts</h2>
      <% @posts.each do |p| %>
      <%= link_to "#{p.title}", p %>
      <p><%= p.views %></p>
      <% end %>
    </section>
  </aside>

</div>
<div class="col-xs-12 col-md-7">
  <p id="notice"><%= notice %></p>


  <h2>New Section</h2>
  <%= render 'sections/form', section: @section %>

  <hr>

  <h2>New Post</h2>
  <%= render 'posts/form', post: @post %>

</div>
