<div class="col-xs-12 col-md-8 offset-md-2">
  <p id="notice"><%= notice %></p>
  <h2><%= @post.title %></h2>
  <p>
    <strong>Code:</strong>
    <%= raw @post.code_snippet %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= raw @post.content %>
  </p>

  <p>
    <strong>Git link:</strong>
    <%= link_to @post.git_link %>
  </p>

  <p>
    <strong>Views:</strong>
    <%= @post.views %>
  </p>

  <%= link_to_if logged_in?, 'Edit', edit_post_path(@post) %> |
  <%= link_to_if logged_in?, 'Back', posts_path %>

</div>
